body{

    color: white;
    background: linear-gradient(to bottom ,yellow, #08ffef,#0afa1a );
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
header{
    
    background: linear-gradient(to right,red, orange, yellow, green, blue, purple, pink );
}